/* SITIOS GRATUITOS PARA FUENTES: www.dafont.com/es, www.1001fonts.com
Para saber que fuente utiliza una pagina web puedo utilizar un pluguin que se llama 'whatFont'
*/

/* Integrando una fuente descargada */
body {
  font-family: 'miFuente', cursive;
}

@font-face {
  src: url('assets/kongtext.ttf');
  font-family: 'miFuente';
}
